        <div class="row" style="padding-left: 1em;padding-right: 1em; ">
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>


        </div>
