        <div class="row" style="padding-left: 1em;padding-right: 1em; ">
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f1"></h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b1">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f2">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b2">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f3">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b3">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f4">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b4">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f5">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b5">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f6">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b6">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f7">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b7">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f8">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b8">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f9">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b9">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f10">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b10">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f11">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b11">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>
            <div class="col-6 col-md-4 card-container" style=" padding: .3em; ">
                <div class="card-flip">
                    <!-- Card 1 Front -->
                    <div class="card front">

                        <div class="card-block ">

                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="f12">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- End Card 1 Front -->

                    <!-- Card 1 Back -->
                    <div class="card back">
                        <div class="card-block">
                            <table class="class-table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle" style="text-align: center;">
                                            <h4 style="margin-top: 10px;" class="begriff" id="b12">Front Card</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Card 1 Back -->
                </div>

            </div>


        </div>
