<div style="overflow-y: hidden; width: 100%; height: calc(100% - 80px); background-color:; border-color: rgba(226,176,255,0.9); border-style: solid;border-width: 6px; border-image: url() 350 round; background-image: radial-gradient(circle at 53% 56%, rgba(230,205,255,1) 12%, transparent 11%),radial-gradient(circle at 55% 57%, rgba(230,205,255,1) 10%, transparent 10%),radial-gradient(circle at 49% 51%, rgba(197,146,234,0.4) 27%, transparent 27%); border-radius: 20%;">

    <div class="a" style="opacity: 0.85; background-image: url(../../assets/virus_red.svg);background-repeat: no-repeat; width: 6em; height: 6em; position: absolute; background-color:; text-align: center;"><a style=" text-align: center; line-height: 6em; word-break: break-all;">Player</a></div>

    
    <div class="b" style="opacity: 0.85; position: absolute; background-image: url(../../assets/virus_blue.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"><div style="width: 5em;height: 3em; margin: auto; background-color:; margin-top: 1.5em; text-align: center;"><a style=" text-align: center; line-height: 2em; word-break: break-all;">Player</a></div></div>
    
    <div class="c" style=" opacity: 0.85; position: absolute; background-image: url(../../assets/virus_magenta.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
    
    <div class="d" style="opacity: 0.85;  position: absolute; background-image: url(../../assets/virus_yellow.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
    
    <div class="e" style="opacity: 0.85;  position: absolute; background-image: url(../../assets/virus_pink.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
    
    <div class="f" style="opacity: 0.85; position: absolute; background-image: url(../../assets/virus_orange.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
    
    <div class="g" style="opacity: 0.85; position: absolute; background-image: url(../../assets/virus_violet.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
    
        <div class="h" style="opacity: 0.85; position: absolute; background-image: url(../../assets/virus_green.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
</div>