<div style="overflow-y: hidden; width: 100%; height: calc(100% - 80px); background-color:; border-color: red; border:20px solid; border-image: url(../../assets/bordern.png) 350 round">

    <div class="a" style="background-image: url(../../assets/virus_red.svg);background-repeat: no-repeat; width: 6em; height: 6em; position: absolute; background-color:;"></div>

    
    <div class="b" style="position: absolute; background-image: url(../../assets/virus_blue.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
    
    <div class="c" style=" position: absolute; background-image: url(../../assets/virus_magenta.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
    
    <div class="d" style=" position: absolute; background-image: url(../../assets/virus_yellow.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
    
    <div class="e" style=" position: absolute; background-image: url(../../assets/virus_pink.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
    
    <div class="f" style="position: absolute; background-image: url(../../assets/virus_orange.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
    
    <div class="g" style="position: absolute; background-image: url(../../assets/virus_violet.svg);background-repeat: no-repeat; width: 6em; height: 6em; background-color:;"></div>
</div>