<div *ngIf="!toggle" style="overflow-y: hidden; width: 100%; height: calc(100% - 80px); background-color:; border-color: rgba(226,176,255,0.9); border-style: solid;border-width: 6px; border-image: url() 350 round; background-image: radial-gradient(circle at 53% 56%, rgba(230,205,255,1) 12%, transparent 11%),radial-gradient(circle at 55% 57%, rgba(230,205,255,1) 10%, transparent 10%),radial-gradient(circle at 49% 51%, rgba(197,146,234,0.4) 27%, transparent 27%); border-radius: 30%;" id="lobbyCell">

<a id="countdown" style="  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 10em;font-family: 'Teko', sans-serif; color: #343434;"></a>

 
</div>


<app-gameboard *ngIf="toggle"></app-gameboard> 