<div style="margin-top: 100px; text-align: center; margin-bottom: 1000px; background-color: ;">

    
        <a><h4>Tritt einem Spiel bei</h4></a>
        <div style="padding-left: 25px;padding-right: 25px; margin: auto; background-color: ; width: 100%">
        <div class="row" style=" text-align: center; margin-bottom: 15px; background-color:;">
            
            <div class="col-lg-2"></div>
            <div class="col-12 col-lg-8" >
            <input style="text-align: center;" type="number" class="form-control" id="lobbyPin" aria-describedby="textHelp" placeholder="1337" required  name="pin">
                </div>
        </div>
            </div>
        <div style=" width: 80px; height: 30px; margin: auto; border-color: black; border-style: solid; border-width: 2px; text-align: center; border-radius: 20px; margin-bottom: 70px;">
            <a>Beitreten</a>
        </div>
        <a style="line-height: 10%;"><h4 style="line-height: 10%;">oder</h4><br><h4 style="line-height: 10%;">Starte ein neues Spiel</h4></a>
        <div class="row" style="margin-top: 25px; margin-bottom: 0;">
            <div class="col-12">
                <div style="width: 50px; margin: auto;"><img src="assets/play.png" class="img-responsive" alt="Responsives Bild"  style="width:50px;"></div>
            </div>
        </div>
        <div style="background-image:radial-gradient(white,white, white,transparent, transparent, transparent); width: 350px; height: 350px; margin: auto; border-radius:50%; padding: 50px;" >
        <div id="rotate" appRotateOnScroll style="background-image: url(../../assets/RNA.svg); padding: 50px; width: 250px; height: 250px; margin: auto; border-radius: 50%; background-color: rgba(200,200,200,0.0);">
            <div style="background-color:; width: 125px; height: 125px;">
            <a appDnafloat class="obj_a" style="font-size: 1ex; position: absolute;">DNA</a>
            
            <a appDnafloat class="obj_b" style="font-size: 1ex; position: absolute;">RNA</a>
            </div>
        </div>
        </div>    
    

</div>
