<div class="row" style="margin-top: 100px;">

    <div class="col-12" style="text-align: center; margin-bottom: 1000px;">
        <a><h4>Tritt einem Spiel bei</h4></a>
        <div style="width: 70%; margin: auto; text-align: center; margin-bottom: 15px;">
            <input style="text-align: center;" type="number" class="form-control" id="lobbyPin" aria-describedby="textHelp" placeholder="1337" required  name="pin">
        </div>
        <div style=" width: 80px; height: 30px; margin: auto; border-color: black; border-style: solid; border-width: 2px; text-align: center; border-radius: 20px; margin-bottom: 70px;">
            <a>Beitreten</a>
        </div>
        <a style="line-height: 10%;"><h4 style="line-height: 10%;">oder</h4><br><h4 style="line-height: 10%;">starte ein neues Spiel</h4></a>
        <div class="row" style="margin-top: 25px;">
            <div class="col-12">
                <div style="width: 50px; margin: auto;"><img src="assets/play.png" class="img-responsive" alt="Responsives Bild"  style="width:50px;"></div>
            </div>
        </div>
    </div>

</div>
