<div style="margin-top: 70px; text-align: center; margin-bottom: 1000px; background-color: ;">
    
    <h1>GDPR</h1>
    
    <p>Laut GDPR müssen wir Sie darüber informieren, welche Daten wir speichern, und was wir mit Ihren Daten machen.<br>
    Bei jedem Aufruf einer Webseite, wird eine von ihrem Anschluss zugewiesene IP Adresse, als digitaler Handschlag, quasi eine temporäre Telefonnummer, übermittelt. Dies ist unumgänglich, diese Adresse wird auch nur temporär gespeichert und dient nur dem Datenaustausch während ihrer Sitzung. Wir selbst haben darauf keinen Einfluss.<br> Sobald Sie einer Spielelobby beitreten, wird temporär, solange diese Lobby aktiv ist, ihnen ein zufälliger Schlüssel als Identifikation mit dem server zugewiesen. Sobald Sie einen Nutzernamen eingegeben haben, wird dieser außerdem mit diesem Schlüssel verbunden. Alle Daten speichern wir nur temporär. Die IP Adresse wird bei jedem Aufruf der Seite oder Anforderung von Webdaten ihrerseits übermittelt. Spieledaten speichern wir über die Dauer eines Spieles, also maximal 30 Minuten.  
    </p>
    <p><br>Wir wissen, dass die GDPR ein sehr schlecht verfasstes Gesetz, welches für eine Gesellschaft vor der Digitalisierung ist, trotztdem müssen wir uns, soweit möglich, daran halten und bitten um Ihr Verständnis.</p>
    
            <div routerLink="/home" routerLinkActive="active" class="lobbyButton" style=" width: 120px; height: 40px; margin: auto; border-color: black; border-style: solid; border-width: 2px; text-align: center; border-radius: 20px; margin-bottom: 20px;">
            <a style="line-height: 40px;">Zustimmen</a>
        </div>
    <p>oder</p>
    
                <div class="lobbyButton" style="margin-top: 20px; width: 120px; height: 40px; margin: auto; border-color: black; border-style: solid; border-width: 2px; text-align: center; border-radius: 20px; margin-bottom: 70px;">
            <a style="line-height: 40px;">Verpissen</a>
        </div>
</div>    