<div style="margin-top: 70px; text-align: center; margin-bottom: 1000px; background-color: ;">

    <h4>{{size}} Spieler</h4>

    <div style="width: 300px; margin: auto; height: 70px; border: 3px solid; border-radius: 25px; border-color: rgb(60,60,60);">
        <h1 style="line-height: 70px; color: rgba(60,60,60)">#{{pin}}</h1>
    </div>


    <div style="margin-top: 50px; margin-bottom: 25px;"><a>
            <h4>Spielernamen eingeben:</h4>
        </a></div>

    <div style="padding-left: 45px;padding-right: 45px; margin: auto; background-color: ; width: 100%">
        <div class="row" style=" text-align: center; margin-bottom: 15px; background-color:;">

            <div class="col-md-4" style="background-color:;"></div>
            <div class="col-12 col-md-4">
                <input style="text-align: center;" type="text" class="form-control" id="playerName" aria-describedby="textHelp" placeholder="Covid-19" required name="player">
            </div>
        </div>
    </div>


    <div routerLink="/lobby/1337" routerLinkActive="active" style="width: 300px; margin: auto; background-color:; margin-top: 25px; margin-bottom: 25px;">
        <div style="display: inline-block;  width: 50px; height: 50px; background-color:; margin: auto; background-image: url(../../assets/play.svg);" >
            <h5 style="visibility: hidden; line-height: 50px; margin: auto;">.</h5>
        </div>
    </div>
</div>
